.ant-table {
  background: #ffffff;
  border-radius: 8px;
  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.1),
    0 4px 16px rgba(0, 0, 0, 0.08);
  overflow: hidden;

  .ant-table-container {
    .ant-table-body,
    .ant-table-content {
      scrollbar-width: thin;
      scrollbar-color: #eaeaea transparent;
      scrollbar-gutter: stable;

      &::-webkit-scrollbar {
        height: 1px;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #eaeaea;
        border-radius: 4px;
      }

      /* Dòng chẵn */
      .ant-table-row:nth-child(odd) {
        background-color: #f1f4fe;

        .ant-table-cell-fix-left,
        .ant-table-cell-fix-right {
          background-color: #f1f4fe;
        }
      }

      /* Dòng lẻ */
      .ant-table-row:nth-child(even) {
        background-color: #ffffff;

        .ant-table-cell-fix-left,
        .ant-table-cell-fix-right {
          background-color: #ffffff;
        }
      }

      .ant-table-row:hover {
        background-color: #fafafa;

        .ant-table-cell-fix-left,
        .ant-table-cell-fix-right {
          background-color: #fafafa;
        }
      }
    }
  }

  /* Style cho header table */
  .ant-table-thead > tr > th {
    font-weight: 600;
    border-bottom: 2px solid #1565c0;

    &::before {
      display: none;
    }
  }

  /* Làm nổi bật table wrapper */
  .ant-table-wrapper {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  }
}
.ant-table-thead > tr > th {
  height: 48px;
  padding: 8px 12px !important;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}
.ant-table-thead .ant-btn {
  padding: 0 !important;
  height: 24px;
  border: none !important;
  background: transparent !important;
  line-height: 1 !important;
  box-shadow: none !important;
}

.ant-table-thead .ant-btn:focus,
.ant-table-thead .ant-btn:active {
  outline: none !important;
  box-shadow: none !important;
}
