# Visual Studio
.vs/
*.suo
*.user

# Build
bin/
obj/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
/BE/Logistics/Services/Authentication/LG.Authentication.API/.env
/BE/Logistics/Services/Module1/LG.Module1.API/.env
